---
import Layout from '../../layouts/Layout.astro';

import { allPlaylists, songs } from '../../lib/data';

const { id } = Astro.params; 

const playlist = allPlaylists.find(playlist => playlist.id === id);
const playlistSongs = songs.filter(song => song.albumId === playlist?.albumId)
const artistsString = playlist?.artists.join(', ');

---

<Layout title="Sfrutify">

    <div
        id="playlist-container"
        class="relative flex flex-col h-full overflow-x-hidden p-6"
        transition:name=`playlist ${id} box`
    >

        <header class="relative z-20 flex gap-4 items-center">
            <picture class="rounded-md overflow-hidden aspect-square w-52 h-52 flex-none">
                <img
                    class="w-full h-full object-cover"
                    src={playlist?.cover}
                    alt=`${playlist?.title} cover`
                    transition:name=`playlist ${id} image`
                >
            </picture>
            <div class="flex flex-col gap-3 self-end">
                <h2 transition:name=`playlist ${id} title` class="text-5xl text-clamp font-bold">{playlist?.title}</h2>
                <p class="font-light">{artistsString}</p>
                <p>{playlistSongs.length} songs, </p>
            </div>
        </header>

        <div class="absolute -z-10 inset-0 bg-gradient-to-t from-neutral-900/10 via-neutral-800/30 to-neutral-700"></div>
    </div>

</Layout>